.c-design {
    margin-top: 6.4%;
    position: relative;

    &::before {
        content: "";
        background: #ededed;
        max-width: 1205px;
        width: 63%;
        height: 527px;
        position: absolute;
        top: calc(100% - 696px);
        right: 0;
        z-index: -1;
    }

    .c-design__content {
        margin: 0;
        margin-left: auto;
        margin-top: 4.1%;
        display: flex;
        column-gap: 9.3%;

        .c-design__text {
            margin-left: -0.4%;
        }

        .c-design__title {
            text-transform: uppercase;
            font-size: 4.8rem;
            font-weight: 300;
            @include oswald;
            color: #000;
            letter-spacing: 4.8px;
            position: relative;

            &::after {
                content: "";
                background: #c8c5c4;
                width: 57px;
                height: 1px;
                position: absolute;
                bottom: -38%;
                left: 0;
                transform: inherit;
            }
        }

        .c-design__subtitle {
            font-size: 2.7rem;
            font-weight: 400;
            color: #231815;
            margin-top: 8.33%;
            line-height: 1.4;
        }

        .c-design__description {
            font-size: 1.9rem;
            font-weight: 300;
            color: #231815;
            margin-top: 5.4%;
            line-height: 1.8;
        }

        .c-design__video {
            margin-top: 7.4%;
            width: 702px;
            height: 390px;

            &--frame {
                width: 100%;
                height: 100%;
            }
        }
    }
}
