.l-slider {
    max-width: 1440px;
    @include tab {
        max-width: 970px;
    }
    @include sp{

    }
}

.slick-arrow {
    padding: 0;
    border: hidden;
}

.slick-slider{
    
    width: 96%;

}

.slick-prev {
    position: absolute;
    left: calc(100% - 126px);
    bottom: -13%;
    background: url("./assets/img/slick/previous.svg");
    width: 53px;
    height: 53px;
    @include sp {
        left: calc(100% - 77px);
        bottom: -21%;
        width: 31px;
        height: 31px;
    }
}

.slick-next {
    position: absolute;
    left: calc(100% - 53px);
    bottom: -13%;
    background: url("./assets/img/slick/next.svg");
    width: 53px;
    height: 53px;
    @include sp {
        left: calc(100% - 34px);
        bottom: -21%;
        width: 31px;
        height: 31px;
    }
}
