.c-finance {
    margin-top: 4.95%;
    padding-bottom: 5.65%;
    background: url("./assets/img/finance/finance_bg.png");
    @include tab {
        padding-bottom: 15%;
    }

    .c-finance__title {
        text-transform: uppercase;
        font-size: 4.8rem;
        font-family: $oswald;
        font-weight: 300;
        color: #000;
        letter-spacing: 4.5px;
        position: relative;
        padding-top: 93px;

        &::after {
            content: "";
            background: #c8c5c4;
            width: 57px;
            height: 1px;
            position: absolute;
            bottom: -18%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    .c-finance__heading {
        text-align: center;
    }

    .c-finance__label {
        font-size: 3rem;
        font-weight: 400;
        font-family: $kozukamedium;
        color: #fff;
        background-color: #231815;
        display: inline-block;
        max-width: 410px;
        width: 100%;
        height: 65px;
        margin: 5.95% 0 0 0.6%;
        letter-spacing: 0.5px;
        padding-top: 0.5%;
    }

    .c-finance__content {
        display: flex;
        justify-content: space-around;
        margin-top: 3.2%;
        @include tab {
            flex-direction: column;
            align-items: center;
            row-gap: 80px;
        }
    }

    .c-finance__box {
        width: calc((100% - 190px) / 2);
        background: #fff;
        padding: 89px 0 67px 86px;
        position: relative;
        letter-spacing: 0.8px;
        color: #231815;

        &--leftbox {
            margin-left: 0.6%;
            left: 3px;
            @include fixpc {
                padding: 62px 2px;
            }
            @include tab {
                max-width: 410px;
                width: 100%;
                padding: 62px 24px;
                margin: 0;
            }
        }

        &--rightbox {
            position: relative;
            margin-left: -10px;
            margin-right: 2.6%;
            padding: 102px 0 67px 86px;
            left: -1px;
            @include fixpc {
                padding: 75px 0 67px 40px;
            }
            @include tab {
                padding: 75px 0 67px 40px;
                margin: 0;
            }
        }
    }

    .c-finance__text {
        font-size: 2.2rem;
        font-weight: 400;
        color: #231815;
        line-height: 3.15;
        letter-spacing: -0.5px;
        @include tab {
            font-size: 1.9rem;
        }
    }

    .c-finance__smalltitle {
        font-size: 2.6rem;
        font-weight: 700;
        color: #231815;
        margin-left: 8px;
        letter-spacing: 0;
    }

    .c-finance__number {
        font-family: $kozuka;
        margin-left: 1px;
        font-size: 9rem;
        font-weight: 700;
        color: #7a89a8;
        margin-top: 1%;
        letter-spacing: 0;
        @include tab {
            margin-top: 4%;       
        }

        &--unit {
            font-size: 3.6rem;
            position: relative;
            top: 2px;
            left: 9px;
        }
    }

    .c-finance__subtext {
        font-size: 2.2rem;
        font-weight: 400;
        color: #231815;
        margin-top: 2.4%;
        letter-spacing: -0.4px;
        @include tab {
            font-size: 1.9rem;
        }
    }

    .c-finance__bubble {
        position: absolute;
        top: -18px;
        right: -44px;
        background: #7a89a8;
        color: #fff;
        font-weight: 700;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        text-align: center;
        padding-top: 26px;
        @include fixpc {
            top: -30px;
            right: -44px;
            width: 180px;
            height: 180px;
        }
        @include tab {
            top: -30px;
            right: -25px;
            width: 180px;
            height: 180px;
        }

        &::before {
            content: "";
            background: url("./assets/img/finance/bubble_corner.svg") top right no-repeat;
            width: 39px;
            height: 45px;
            position: absolute;
            top: 135px;
            left: -7px;
            @include fixpc {
                top: 125px;
                left: 0;
            }
            @include tab {
                top: 130px;
                left: 6px;
            }
        }

        .c-bubble__heading {
            font-size: 3.2rem;
            font-weight: 700;
        }

        .c-bubble__number {
            font-size: 9.6rem;
            font-weight: 700;
            position: relative;
            top: -20.5%;
            left: -2.4%;

            &--unit {
                font-size: 3.2rem;
                position: relative;
                top: -11px;
                left: 7px;
            }
        }
    }
}
