.c-prevention {
    margin-top: 7.01%;

    .c-prevention__content {
        max-width: 1196px;
        width: 100%;
        margin: 0 auto;
        @include tab {
            max-width: 970px;
        }
        @include sp {
            padding: 0 20px 0 22px;
        }
    }

    .c-prevention__heading {
        background-color: #231815;
        text-align: center;
        padding: 5.2% 0 4.2%;
        margin-left: 2px;
        margin-right: -2px;
        @include tab {
            margin: 0 auto;
        }
        @include sp {
            padding: 4.2% 0 9.5%;
            margin: 63px 0 0;
        }

        &--top {
            justify-content: space-between;
            display: flex;
            @include tab {
                flex-direction: column;
                align-items: center;
                max-width: 400px;
                margin: 0 auto;
            }
            @include sp {
                flex-direction: column;
                align-items: center;
            }
        }

        .c-prevention__btn {
            font-size: 2.3rem;
            font-weight: 700;
            color: #231815;
            background-color: #fff;
            display: flex;
            align-items: center;
            padding: 9px 27px;
            margin-left: 7.3%;
            border-radius: 23px;
            @include fixpc {
                font-size: 1.8rem;
            }
            @include tab {
                width: fit-content;
                margin-left: 0;
                margin-bottom: 1%;
            }
            @include sp {
                font-size: 1.15rem;
                width: fit-content;
                font-size: 1.15rem;
                padding: 4px 15px 5px 12px;
                margin-left: 0;
                margin-top: 3.85%;
                border-radius: 1.05rem;
                letter-spacing: 0;
            }
        }

        .c-prevention__title {
            letter-spacing: 0.4px;
            margin-top: 2px;
            font-size: 3.2rem;
            font-weight: 300;
            color: #fff;
            margin-right: 7.96%;
            @include fixpc {
                font-size: 2.8rem;
            }
            @include tab {
                margin-right: 0;
            }
            @include sp {
                font-size: 1.6rem;
                font-size: 1.6rem;
                margin: 0;
                line-height: 1.1;
                margin-top: 8px;
                letter-spacing: -0.1px;
            }

            &--sp {
                @include sp {
                    &::before {
                        content: "\a";
                        white-space: pre;
                    }
                }
            }
        }

        .c-prevention__subtitle {
            color: #fff;
            font-size: 2rem;
            font-weight: 300;
            margin-top: 1.7%;
            letter-spacing: -0.2px;
            @include tab {
                max-width: 400px;
                margin: 0 auto;
            }
            @include sp {
                font-size: 1rem;
                margin-top: 11px;
                line-height: 1.6;
                letter-spacing: 0.1px;
            }

            &--sp {
                @include sp {
                    &::before {
                        content: "\a";
                        white-space: pre;
                    }
                }
            }
        }
    }

    .c-prevention__list {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 11px 50px 37px;
        border: 1px solid #aeaeae;
        @include sp {
            padding: 35px 20px;
        }
    }

    .c-prevention__item {
        width: calc((100% - 1px) / 5);
        text-align: center;
        padding: 11px 10px 28px;
        border-bottom: 1px solid #aeaeae;
        border-right: 1px solid #aeaeae;

        @include sp {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            height: auto;
            padding: 16px 0 17px 11px;
        }

        &:nth-child(5n + 5) {
            border-right: hidden;
        }

        &:nth-child(n + 6) {
            border-bottom: hidden;
        }

        &:nth-child(n + 7) {
            .c-prevention__description {
                margin-top: 4%;
            }
        }

        // Prevention 1
        &:nth-child(1) {
            @include sp {
                order: 1;
            }

            .c-prevention__description {
                @include sp {
                    font-size: 1.1rem;
                    top: 4px;
                    letter-spacing: -1.8px;
                    line-height: 1.56;
                }
            }
        }
        // Prevention 2
        &:nth-child(2) {
            @include sp {
                order: 2;
                padding-bottom: 22px;
                border-right: hidden;
            }

            .c-prevention__img {
                width: 97px;
                top: -3%;
                @include sp {
                    width: 59px;
                    top: -4px;
                    left: -2px;
                }
            }

            .c-prevention__description {
                @include sp {
                    top: 5px;
                }
            }
        }
        // Prevention 3
        &:nth-child(3) {
            @include sp {
                order: 5;
                padding-bottom: 14px;
            }

            .c-prevention__img {
                width: 130px;
                top: 1%;
                @include sp {
                    width: 80px;
                    top: -2px;
                    left: -5px;
                }
            }

            .c-prevention__description {
                @include sp {
                    letter-spacing: 0.2px;
                    line-height: 1.5;
                    left: -5px;
                    top: -1px;
                }
            }
        }
        // Prevention 4
        &:nth-child(4) {
            @include sp {
                order: 6;
                padding-bottom: 19px;
                border-right: hidden;
            }

            .c-prevention__img {
                width: 153px;
                top: 5%;
                @include sp {
                    
                    width: 94px;
                    top: -5px;

                }
            }

            .c-prevention__description {
                @include sp {
                    top: 7px;
                }
            }
        }
        // Prevention 5
        &:nth-child(5) {
            @include sp {
                order: 9;
                border-bottom: hidden;
                border-right: 1px solid #aeaeae;

            }

            .c-prevention__img {
                width: 94px;
                @include sp {
                    width: 56px;
                }
            }

            .c-prevention__description {
                left: -2.5%;
                @include sp {
                    top: 4px;
                    left: -5px;
                }
            }
        }
        // Prevention 6
        &:nth-child(6) {
            @include sp {
                order: 3;
                border-bottom: 1px solid #aeaeae;
            }

            .c-prevention__description {
                margin-top: 14%;
                @include sp {
                    margin-top: 7%;
                }
            }

            .c-prevention__img {
                width: 101px;
                top: 5%;
                @include sp {
                    width: 60px;
                    top: -5px;
                    left: -5px;
                }
            }
        }
        // Prevention 7
        &:nth-child(7) {
            @include sp {
                order: 4;
                border-right: hidden;
                border-bottom: 1px solid #aeaeae;
                padding-bottom: 18px;
            }

            .c-prevention__img {
                width: 89px;
                @include sp {
                    width: 54px;
                    top: -5px;
                }
            }

            .c-prevention__description {
                letter-spacing: -1.4px;
                line-height: 1.6;
                @include sp {
                    letter-spacing: 0;
                    top: 1px;
                }
            }
        }
        // Prevention 8
        &:nth-child(8) {
            @include sp {
                order: 7;
                border-bottom: 1px solid #aeaeae;
                padding-bottom: 19px;
            }

            .c-prevention__img {
                width: 114px;
                top: 2.5%;
                @include sp {
                    width: 70px;
                    left: -5px;
                }
            }

            .c-prevention__description {
                @include sp {
                    
                    top: 3px;
                    left: -5px;

                }
            }
        }
        // Prevention 9
        &:nth-child(9) {
            @include sp {
                order: 8;
                border-bottom: 1px solid #aeaeae;
                padding-bottom: 19px;
                border-right: hidden;
            }

            .c-prevention__img {
                width: 125px;
                top: 2%;
                @include sp {
                    width: 76px;
                    top: -1px;
                    left: -6px;
                }
            }

            .c-prevention__description {
                @include sp {
                    top: 2px;
                }
            }
        }
        // Prevention 10
        &:nth-child(10) {
            @include sp {
                order: 10;
            }

            .c-prevention__img {
                width: 118px;
                top: 5%;
                @include sp {
                    width: 72px;
                    top: -1px;
                }
            }

            .c-prevention__description {
                @include sp {
                    top: -1px;
                }
            }
        }
    }

    .c-prevention__img {
        width: 105px;
        min-height: 110px;
        position: relative;
        left: -4%;
        @include sp {
            width: 64px;
            min-height: 56px;
        }
    }

    .c-prevention__description {
        font-size: 1.5rem;
        margin-top: 3%;
        line-height: 1.55;
        color: #231815;
        position: relative;
        left: -4.5%;
        letter-spacing: -1px;
        @include sp {
            font-size: 0.9rem;
            letter-spacing: 0;
            line-height: 1.65;
            font-feature-settings: "palt";
        }
    }
}
