//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}
@mixin fixpc{
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
        @content;
    }
}
@mixin tab {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

//============================================
// font
//============================================

