/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 3.4%;
    margin-bottom: 5%;
}
