/* layout
------------------------------------------------------------*/
#p-top {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    max-width: 192rem;
    width: 100%;
    margin: 0 auto;
}

.l-container--1200 {
    max-width: 120rem;
}

.l-container--1740 {
    max-width: 174rem;
}
//-------------------------------------------------------
