/* layout
------------------------------------------------------------*/
body {
    font-family: $main-font;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    max-width: 192rem;
    width: 100%;
    margin: 0 auto;
}

.l-slider {
    max-width: 1440px;
}

.l-container--1200 {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.l-container--1204 {
    max-width: 120.4rem;
    width: 100%;
    margin: 0 auto;

}

.l-container--1400 {
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
}

.l-container--1550 {
    width: 100%;
    max-width: 155rem;
    margin: 0 auto;

}

.l-container--1740 {
    max-width: 174rem;
    width: 100%;
    margin: 0 auto;
}
//-------------------------------------------------------
