<%- include('_layouts/layout', { title: 'Coco Design' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main>
<!-- MAINVISUAL -->
  <section class="c-mainvisual l-container">
    <div class="c-mainvisual__inner">
      <a href="./" class="c-mainvisual__logo"><img src="./assets/img/CocoLogo.png" alt="Coco Design"></a>
      <h1 class="c-mainvisual__title" >「こんな家に住みたい」<span class="c-mainvisual__title--fixspacing">をカタチにした家</span></h1>
      <img src="./assets/img/nowopen.png" alt="NOW OPEN" class="c-mainvisual__img">
    </div>
  </section>
<!-- END MAINVISUAL -->
<!-- CASES -->
  <section class="c-cases l-container">
    <!-- Case List -->
    <div class="c-cases__content l-container--1550">
      <h2 class="c-cases__title">家づくりの、こんな不安やお悩みないですか？</h2>
      <div class="c-cases__list">
        <!-- Case 1 -->
        <div class="c-cases__item">
          <div class="c-cases__top">
            <p class="c-cases__text c-cases__text--number">01</p>
            <p class="c-cases__text c-cases__text--case">case</p> 
          </div>
          <div class="c-cases__bottom">
            <p class="c-cases__question">子育てにはどんな家が良 <span class="c-cases__question--fixspacing">いんだろう？</span></p>
          </div>
        </div>
        <!-- Case 2 -->
        <div class="c-cases__item">
          <div class="c-cases__top">
            <p class="c-cases__text c-cases__text--number">02</p>
            <p class="c-cases__text c-cases__text--case">case</p> 
          </div>
          <div class="c-cases__bottom">
            <p class="c-cases__question">理想の家って実現できるの？</p>
            <span class="c-cases__label">いろいろとこだわった</span>
          </div>
        </div>
        <!-- Case 3 -->
        <div class="c-cases__item">
          <div class="c-cases__top">
            <p class="c-cases__text c-cases__text--number">03</p>
            <p class="c-cases__text c-cases__text--case">case</p> 
          </div>
          <div class="c-cases__bottom">
            <p class="c-cases__question"><span class="c-cases__question--marginleft">暮らしのスタイルがイメージできない</span></p>
            <span class="c-cases__label">家は建てたいけど</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Benefit List -->
    <div class="c-cases__benefit l-container--1204">
      <h2 class="c-benefit__title">
        はじめての家づくりが具体的に進む、ご来店の
        <span class="c-benefit__title--colored">3 つのメリット</span>
      </h2>
      <h3 class="c-benefit__subtitle">WELCOME TO MODELHOUSE</h3>
      <div class="c-benefit__list">
        <!-- Benefit 1 -->
        <div class="c-benefit__item">
          <div class="c-benefit__text">
            <img src="./assets/img/modelhouse/merit1.png" alt="実物を見て触って体感できます" class="c-benefit__label">
            <div class="c-benefit__content">
              <h4 class="c-benefit__itemtitle">実物を見て触って <span class="u-colored">体感</span>できます !</h4>
              <p class="c-benefit__description">カタログや資料だけではなく、高気密・高断熱の木 の住まいや、家事動線や収納スペースの女性目線で
                叶った工夫など、実際に見て触ってご体感いただけ
                ます。 
              </p>
            </div>
          </div>
          <img src="./assets/img/modelhouse/model1.jpg" alt="実物を見て触って体感できます" class="c-benefit__img">
        </div>
        <!-- Benefit 2 -->
        <div class="c-benefit__item">
          <div class="c-benefit__text">
            <img src="./assets/img/modelhouse/merit2.png" alt="実物を見て触って体感できます" class="c-benefit__label">
            <div class="c-benefit__content">
              <h4 class="c-benefit__itemtitle">土地情報<span class="u-colored">1000件以上</span>が見放題!</h4>
              <p class="c-benefit__description">愛媛県の最新の土地情報から、学区・最寄りの駅な
                どご希望の条件でお好きな土地をご覧いただけます。さらに、地盤予測や付帯工事費なども含め、建てた
                後も安心して暮らせる総合的な土地のアドバイスを
                いたします。 
              </p>
            </div>
          </div>
          <img src="./assets/img/modelhouse/model2.jpg" alt="実物を見て触って体感できます" class="c-benefit__img">
        </div>
        <!-- Benefit 3 -->
        <div class="c-benefit__item">
          <div class="c-benefit__text">
            <img src="./assets/img/modelhouse/merit3.png" alt="実物を見て触って体感できます" class="c-benefit__label">
            <div class="c-benefit__content">
              <h4 class="c-benefit__itemtitle">お客様に合った<span class="u-colored">住宅ローン</span>を診断!</h4>
              <p class="c-benefit__description">住宅ローンアドバイザーの資格を持ったスタッフが、
                住宅ローン提携5大金融機関からお客様に合った適 &nbsp;
                正住宅ローンを診断いたします。 
              </p>
            </div>
          </div>
          <img src="./assets/img/modelhouse/model3.jpg" alt="実物を見て触って体感できます" class="c-benefit__img">
        </div>
      </div>
    </div>
  </section>
<!-- END CASES -->
<!-- RECOMMENDED SECTION -->
  <section class="c-recommended l-container--1740">
    <div class="c-recommended__top">
      <img src="./assets/img/recommend/recommend-point_bg.png" alt="recommended point" class="c-recommended__car">
      <h2 class="c-recommended__title">recommended point</h2>
      <h3 class="c-recommended__subtitle">イベント・見学会の <span class="c-recommended__subtitle--colored">見どころ！</span></h3>
    </div>
    <div class="c-recommended__bottom">
    <!-- Recommended List -->
      <div class="c-recommended__list">
        <!-- Benefit 1 -->
        <div class="c-recommended__item">
          <div class="c-item__top">
            <img src="./assets/img/recommend/recom1.png" alt="豊富な+FUNのオプション" class="c-item__img">
          </div>
          <div class="c-item__bottom">
            <h4 class="c-item__title">豊富な+FUNのオプション</h4>
            <p class="c-item__description">1,100万円の家をベースに、ライフス タイルにあった+FUNのオプションを組み合わせられます。価格が決まった明朗なシステムで、GOOD DESIGN賞を受賞。</p>
          </div>
        </div>
        <!-- Benefit 2 -->
        <div class="c-recommended__item">
          <div class="c-item__top">
            <img src="./assets/img/recommend/recom2.png" alt="シンプルな四角い外観" class="c-item__img">
          </div>
          <div class="c-item__bottom">
            <h4 class="c-item__title">シンプルな四角い外観</h4>
            <p class="c-item__description">住む方の生活に馴染むよう、シンプルでムダを削ぎ落とした四角い家。凹凸のないレイアウトで、室内も広々した空間を実現。</p>
          </div>
        </div>
        <!-- Benefit 3 -->
        <div class="c-recommended__item">
          <div class="c-item__top">
            <img src="./assets/img/recommend/recom3.png" alt="ガルバリウム鋼板の外壁・屋根" class="c-item__img">
          </div>
          <div class="c-item__bottom">
            <h4 class="c-item__title">ガルバリウム鋼板の外壁・屋根</h4>
            <p class="c-item__description">外壁・屋根に使われているガルバリウム鋼板は、無骨で美しいZERO-CUBE &nbsp; の外観の特徴。<br>
              耐久・耐熱性など機能面に優れた、高品質の素材です。</p>
          </div>
        </div>
        <!-- Benefit 4 -->
        <div class="c-recommended__item">
          <div class="c-item__top">
            <img src="./assets/img/recommend/recom4.png" alt="ガルバリウム鋼板の外壁・屋根" class="c-item__img">
          </div>
          <div class="c-item__bottom">
            <h4 class="c-item__title">家族を感じるリビング</h4>
            <p class="c-item__description">1階が見渡せる対面キッチンでは、家 &nbsp; 族との会話も弾みます。吹き抜けのリビングイン階段は、居間を導線の中心に考えた、家族のコミュニケーションが生まれる設計。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END RECOMMENDED -->
<!-- PRESENT SECTION -->
<section class="c-present l-container--1204">
  <h2>
    <a href="./"><img src="./assets/img/present.png" alt="PRESENT BANNER" class="c-present__banner"></a>
  </h2>
</section>
<!--END PRESENT SECTION -->
<!-- DESIGN SECTION -->
<section class="c-design l-container">
  <div class="c-design__slider l-slider">
    <div class="c-design__item"><img src="./assets/img/slick/slick1.png" alt="DESIGN" class="c-design__img"></div>
    <div class="c-design__item"><img src="./assets/img/slick/slick2.png" alt="DESIGN" class="c-design__img"></div>
    <div class="c-design__item"><img src="./assets/img/slick/slick3.png" alt="DESIGN" class="c-design__img"></div>
  </div>
  <div class="c-design__content">
    <div class="c-design__text">
      <h2 class="c-design__title">design</h2>
      <h3 class="c-design__subtitle">シンプルで美しいデザイン、<br>いつまでも・誰にでも愛される空間に。
        </h3>
      <p class="c-design__description">長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
        壁の色を白で統一したシンプルな間取り。<br>
        余計な装飾は施さず、こだわりの家具やインテリアを<br>
        あなた色に合わせてコーディネートを楽しめる<br>
        年齢や性別を意識しない誰にでも愛される空間です。</p>
    </div>
    <div class="c-design__video"><iframe src="https://www.youtube.com/embed/GtH-3_jjTvQ" allowfullscreen title="casa liniere（カーサリンネル）｜北欧のように暮らす家" class="c-design__video--frame"></iframe></div>
  </div>
</section>
<!-- END DESIGN SECTION -->
<!-- PLAN SECTION -->
<section class="c-plan l-container--1204">
  <h2 class="c-plan__title">plan</h2>
  <div class="c-plan__design">
    <div class="c-plan__design--left">
      <img src="./assets/img/plan/1F.png" alt="1F" class="c-plan__img c-plan__img--left">
    </div>
    <div class="c-plan__design--right">
      <img src="./assets/img/plan/2F.png" alt="1F" class="c-plan__img c-plan__img--right">
    </div>
  </div>
  <div class="c-plan__description">
    <p class="c-plan__text">
      <span class="c-plan__text--area">1階床面積</span>
      <span class="c-plan__text--total">192.53㎡(58.24坪）</span>
    </p>
    <p class="c-plan__text">
      <span class="c-plan__text--area">2階床面積</span>
      <span class="c-plan__text--total">139.01㎡(42.05坪)</span>
    </p>
    <p class="c-plan__text">
      <span class="c-plan__text--area">延床面積</span>
      <span class="c-plan__text--total">331.54㎡(100.29坪)</span>
    </p>
  </div>
<!-- PLAN table -->
  <div class="c-plan__quickview">
    <dl class="c-plan__quickviewitem">
      <dt class="c-plan__name"> 商品プラン </dt>
      <dd class="u-spacing--1px"> ZERO-CUBE </dd>
    </dl>
    <dl class="c-plan__quickviewitem">
      <dt class="c-plan__name"> 構造 </dt>
      <dd> 木造2階建て </dd>
    </dl>
    <dl class="c-plan__quickviewitem">
      <dt class="c-plan__name"> 設備・仕様 </dt>
      <dd class="c-plan__tag">
        <p><a class="c-plan__itemlink" href="./">W断熱/TOPS工法</a></p>
        <p><a class="c-plan__itemlink" href="./">無垢材・自然素材</a></p>
        <p><a class="c-plan__itemlink" href="./">高性能住宅</a></p>
        <p><a class="c-plan__itemlink" href="./">玄関共有タイプ</a></p>
        <p><a class="c-plan__itemlink" href="./">防音構造床</a></p>
      </dd>
    </dl>
    <dl class="c-plan__quickviewitem">
      <dt class="c-plan__name"> 空間 </dt>
      <dd class="c-plan__tag">
        <p><a class="c-plan__itemlink c-plan__itemlink--fixmarginright" href="./">二世帯・多世帯</a></p>
        <p><a class="c-plan__itemlink c-plan__itemlink--fixspacing2" href="./">1、2 階リビング </a></p>
        <p><a class="c-plan__itemlink" href="./">吹抜け</a></p>
      </dd>
    </dl>
  </div>
</section>
<!-- END PLAN SECTION -->
<!-- FINANCE SECTION -->
<section class="c-finance">
  <div class="l-container--1400">
    <div class="c-finance__heading">
      <h2 class="c-finance__title">finance</h2>
      <h3 class="c-finance__label">
        <span class="c-finance__label--number">3,400</span>
        <span class="c-fianance__label--text">万円借入の場合</span>
      </h3>
    </div>
    <div class="c-finance__content">
      <div class="c-finance__box c-finance__box--leftbox">
        <p class="c-finance__text">借入金　・・・・・・・・・・3,400万円
        </p>
        <p class="c-finance__text">ボーナス払い・・・・・・・・・・0万円
        </p>
        <p class="c-finance__text">3 年固定金利・・・・・・・・・・0.725％
        </p>
        <p class="c-finance__text">返済期間・・・・・・・・・・・・・35年</p>
      </div>
      <div class="c-finance__box c-finance__box--rightbox">
        <p class="c-finance__smalltitle">月々のお支払い</p>
        <p class="c-finance__number">91,682<span class="c-finance__number--unit">円</span> </p>
        <p class="c-finance__subtext">土地付建物販売価格　3,400万円（税込）</p>
        <div class="c-finance__bubble">
          <p class="c-bubble__heading">頭金</p>
          <p class="c-bubble__number">0<span class="c-bubble__number--unit">円</span> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FINANCE SECTION -->
<!-- BOOKING SECTION -->
<section class="c-booking l-container--1740">
  <div class="c-booking__heading">
    <h2 class="c-booking__title">
      <span class="c-booking__title--normal">WEB来場予約が</span>
      <span class="c-booking__title--colored">オススメ！</span>
    </h2>
    <h3 class="c-booking__subtitle">待ち時間ナシ！混雑をきにせず来場 OK ！<br>
      <span class="c-booking__subtitle--bottom">経験豊富なスタッフがしっかりとご対応いたします。</span>
    </h3>
  </div>
  <!-- BOOKING STEPS -->
  <div class="c-booking__steps">
  <!-- STEP 1 -->
    <a href="#" class="c-booking__item">
        <img src="./assets/img/booking/mail.svg" alt="WEB予約" class="c-booking__img">
        <p class="c-booking__stepname">WEB 予約</p>
        <p class="c-booking__description">入力フォームに必要事項を入力</p>
    </a>
  <!-- STEP 2 -->
    <a href="#" class="c-booking__item">
      <img src="./assets/img/booking/account.svg" alt="ご来場" class="c-booking__img">
      <p class="c-booking__stepname">ご来場</p>
      <p class="c-booking__description">来場されたら受付をお願いします</p>
    </a>
  <!-- STEP 3 -->
    <a href="#" class="c-booking__item">
      <img src="./assets/img/booking/note.svg" alt="アンケート記入" class="c-booking__img">
      <p class="c-booking__stepname">アンケート記入</p>
      <p class="c-booking__description">アンケート記入後、丁寧にご説明</p>
    </a>
  <!-- STEP 4 -->
    <a href="#" class="c-booking__item">
      <img src="./assets/img/booking/paper.svg" alt="ご見学・ご説明" class="c-booking__img">
      <p class="c-booking__stepname">ご見学・ご説明</p>
      <p class="c-booking__description">何でもお気軽に相談してください</p>
    </a>
  <!-- STEP 5 -->
    <a href="#" class="c-booking__item">
      <img src="./assets/img/booking/gift.svg" alt="特典プレゼント！" class="c-booking__img">
      <p class="c-booking__stepname">特典プレゼント！</p>
      <p class="c-booking__description">QUOカードプレゼント</p>
    </a>
  </div>
  <!-- PREVENTION -->
  <div class="c-prevention l-container--1204">
    <div class="c-prevention__content">
      <div class="c-prevention__heading">
        <div class="c-prevention__heading--top">
          <a href="#" class="c-prevention__btn">ご来場のお客様へ</a>
          <h2 class="c-prevention__title">新型コロナウイルス感 染症予 防対 策につきまして</h2>
        </div>
        <h3 class="c-prevention__subtitle">ウェブココでは 新型 コロナウイルス感 染拡 大防 止 のため、対策を講じておりますので安心してご利用ください。</h3>
      </div>
        <!-- PREVENTION LIST-->
      <div class="c-prevention__list">
      <% if (typeof preventionlist != 'undefined') {%>
        <%   preventionlist.prevention.forEach(item => {%>
            <div class="c-prevention__item">
              <img src="<%= item.img %>" alt="<%= item.description %>" class="c-prevention__img">
              <p class="c-prevention__description"><%- item.description %></p>
            </div>
          <%}) %>
      <%}%>
      </div>  
    </div>
  </div>
  <!-- END PREVENTION -->
</section>
<!-- END BOOKING SECTION -->
<section class="c-access l-container">
  <div class="c-access__item c-access__item--map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1443.784265239976!2d139.7749091942118!3d35.67242026142928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018895f7235976d%3A0x502e204dfef6e7fd!2z5pel5ZKM44Ob44OG44Or5p2x5Lqs6YqA5bqnRUFTVA!5e0!3m2!1sja!2s!4v1660026983187!5m2!1sja!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="c-access__map"></iframe>
  </div>
  <div class="c-access__item c-access__item--text">
    <div class="c-access__heading">
      <h2 class="c-access__title">access</h2>
      <h3 class="c-access__subtitle">完全ご予約制見学会</h3>
    </div>
    <div class="c-access__contentlist">
      <dl class="c-access__content">
        <dt class="c-access__label">開催日</dt>
        <dd class="c-access__description">8月20日 (土) <span class="c-access__description--fixspacing">・21日 &nbsp;(日)</span></dd>
      </dl>
      <dl class="c-access__content">
        <dt class="c-access__label">時間</dt>
        <dd class="c-access__description">10：00 ～ 17：00 ※完全予約制</dd>
      </dl>
      <dl class="c-access__content">
        <dt class="c-access__label">開催場所</dt>
        <dd class="c-access__description">〒000- 0000 愛媛県今治市 000-0</dd>
      </dl>
    </div>
    <p class="c-access__note">※車でお越しの際は、ナビで上記住所を設定してください。</p>
  </div>
</section>
<section class="c-present c-present--footer l-container--1204">
  <h2><a href="./"><img src="./assets/img/present.png" alt="PRESENT BANNER" class="c-present__banner"></a></h2>
</section>
<section class="c-contact l-container--1204">
  <a href="#">
    <h2 class="c-contact__title">contact form</h2>
  </a>
</section>
</main>
<!-- @@content -->

<!-- @script -->
<script>
</script>
<!-- @@script -->
